<div class="parallax-container animated fadeIn">
  <div class="parallax">
    <%= image_tag("#{@image}") %>
  </div>
  <div class="intro_header_text">
    <p class="large_intro_header_text">
      now playing
    </p>

    <p class="small_intro_header_text">
      <%= @now_playing.title %>
    </p>
  </div>
</div>