<div id="parallax_container">
  <%= render 'home_now_playing' %>
</div>

<div class="row placeholder_container">
  <div class="col-xs-2"></div>
  <span id="movie_categories">
    <div class="col-xs-8 placeholder">
      <div class="loader"></div></div>
  </span>
  <div class="col-xs-2"></div>
</div>

<br/><br/>

<%= render "search_form" %>

<div id="movie_container"></div>
