<div class="parallax-container animated fadeIn show_movie">
  <div class="parallax">
    <%= image_tag("#{@backdrop}") %>
  </div>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>