// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review_form_container {
	height:100%;
	padding: 50px 60px 50px 60px;
	position:relative;
	margin: 30px 30px 30px 30px;
	width: 97%;
	background-color:#fff;
}

.caption {
	visibility: hidden !important;
}

.clear-rating {
	visibility: hidden !important;
}

.rating-container {
	padding-top:10px !important;
	padding-left:20px !important;
}