// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review_form_container {
	height:100%;
	padding: 50px 60px 50px 60px;
	position:relative;
	margin: 30px 30px 30px 30px;
	width: 97%;
	background-color:#fff;
}

.caption {
	visibility: hidden !important;
}

.clear-rating {
	visibility: hidden !important;
}

.rating-container {
	padding-top:10px !important;
	padding-left:20px !important;
}

.comment_container {
	position:relative;
	margin: 0px 0px 0px 0px;
	height: 250px;
	width: 97%;
	background-color:#fff;
}

.comment_container_empty {
	position:relative;
	margin: 0px 10px 0px 10px;
	height: 125px;
	width:100%;
	background-color:#fff;
}

.comment_container_empty_tag {
	display:flex;
	align-items:center;
	justify-content:center;
	padding-top:45px;
	font-size:2em;
}

.comment_container img {
	max-width:70px;
	position:absolute;
	top:20px;
	left:20px;
}

.comment_author {
	position: absolute;
	top:40px;
	left:110px;
	font-style:italic;
	font-weight:bold;
	font-size:1.3em;
}

.comment_content {
	position:absolute;
	top:80px;
	right: 20px;
	left: 110px;
	height: 120px;
	font-size:1.1em;
	overflow: scroll;
}

.comment_movie_rating {
	position:absolute;
	bottom:0px;
	right:10px;
}

.review_date {
	position: absolute;
	top: 10px;
	right: 15px;
}

.parallax-container.review {
  min-height: 60vh !important;
}

.review_container {
	padding-top:20px;
	background-color:#FAFAFA;
}

.review_block {
	width:100%;
	background-color:#fff;
	height:300px;
}

.review_block img {
	position:absolute;
	position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
	max-height:100%;
}

.review_info_container {
	position:absolute;
	height:100%;
    right: 0;
	left: 235px;
	top:15px;
	padding-right:20px;
}

.review_author {
	position: absolute;
	top:50px;
	left:10px;
	font-style:italic;
	font-weight:bold;
	font-size:1em;
}

.review_content {
	position:absolute;
	top:80px;
	right: 20px;
	left: 10px;
	height: 120px;
	font-size:1em;
	overflow: scroll;
}

.link_wrapper {
	text-align: center;
}

.page_links {
	display: inline-block;
}
