.container-fluid {
  padding: 0px !important;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-bottom: 0px !important;
  padding-bottom: 20px !important;
}

.caret {
  border-color: transparent !important;
}

.parallax-container {
  min-height: 100vh;
}

.brand-logo {
  padding-top: 20px;
  padding-left: 30px;
  color: #FAFAFA;
  font-size: 2.1em;
}

.brand-logo:hover {
  color:#64aff4;
  text-decoration:none;
  transition: color 200ms linear;
}

.brand-logo.scrolled {
  color: #000;
  transition: color 200ms linear;
}

.logo_blue {
  color:#64aff4;
}

.navbar-default{
    background:transparent !important;
    border-bottom: 1px solid #e1e1e1 !important;
    transition: background-color 200ms linear;
    height:85px !important;
}

.navbar-nav>li>a:hover{
    color:#1a1a1a;
} 

.collapse.in{    
    background-color:#f0f0f0 !important;
}

.collapse.navbar-collapse {
  width: 95vw !important;
  top: 0px;
  left:0px;
  position:absolute;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
.spacer{
   background-color:#888; 
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.intro_header_text {
  position:absolute;
  bottom:0px;
  left:3%;
  color:#FAFAFA;
}

.large_intro_header_text {
  font-size:6em;
  line-height:80px;
}

.small_intro_header_text {
  border-top: 1px solid #FAFAFA;
  width: 100%;
  font-size:2.5em;
  line-height:105px;
}

.navbar-right, .nav > li > a {
  padding: 15px 15px;
  margin-right:0px;
  color: #FAFAFA !important;
  font-size:1.2em;
}

.navbar-right.scrolled > li > a {
  color:#000 !important;
  transition: color 200ms linear;
}

.navbar-right a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #64aff4;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-right a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-right a.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.left_col {
  float:right;
}

.right_col {
  float:left;
}