<div class="footer">
	<div class="row footer_row">
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<p class="brand-logo left">
				ltr<span class="logo_blue">(8)</span>
			</p>
		</div>
		<div class="col-xs-5 tmdb_logo">
			<%= image_tag("tmdb_logo.png") %>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>
