<div class="navbar navbar-default navbar-fixed-top animated" id="nav" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse">
    	<a href="#" class="brand-logo left">lord of the r<span class="logo_blue">(8)</span>ings</a>
      <ul class="nav navbar-nav navbar-right" id="nav-right">
      		<li><a href="first">Home</a></li>
          <li><a href="first">All Movies</a></li>
          <li><a href="first">Reviews</a></li>
          
      </ul>
    </div>
  </div>
</div>